[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = true
name = "downloadpytorch"

[packages]
fire = "*"
librosa = "*"
numpy = "*"
scikit-learn = "*"
soundfile = "*"
sox = "*"
tensorboard = "*"
torch = {index="downloadpytorch", version="==2.1.0+cu121"}
torchaudio = {index="downloadpytorch", version="==2.1.0+cu121"}
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
